

.app {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

.input {
  margin-bottom: 20px;
}

input {
  width: 70%;
  padding: 8px;
  margin-right: 5px;
}

.add-button {
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
}

.add-button:hover {
  background-color: #218838;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c82333;
}
